#cuerpo{
    display:flex;
    flex-direction: row;
}
#resultado-div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 20px;
}

select,
input {
    padding: 5px;
    margin: 5px 0;
}

#totalizar-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}